/*
=============== 
Global Styles
===============
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(145deg, #0078fa, #34e16d);
  background-size: 400% 400%;
  animation: gradientBg 30s ease infinite;
}
@keyframes gradientBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*
=============== 
clock
===============
*/
.clock {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: #fff;
  border: 5px solid #333;
  border-radius: 50%;
}
.clock::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 20px;
  height: 20px;
  background: orangered;
  border-radius: 50%;
}
.clock::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
  z-index: 11;
}

/*
=============== 
sun-moon-container
===============
*/
.sun-moon-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sun {
  position: relative;
  width: 30px;
  height: 30px;
  background: orange;
  border-radius: 50%;
  display: block;
}
.sunshine {
  --rotate: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotate));
}
.sunshine::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 7px;
  border-radius: 3px;
  background: orange;
}

.moon {
  position: relative;
  width: 40px;
  height: 40px;
  background: yellow;
  border-radius: 50%;
  display: none;
}
.moon::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 80%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #002680;
}

.star-container {
  position: absolute;
  top: 3%;
  left: 60%;
}
.star {
  position: relative;
  display: block;
  color: #fff;
  width: 0px;
  height: 0px;
  margin: 5px 0;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
.star:before {
  content: "";
  position: absolute;
  top: -5.5px;
  left: -7.5px;
  display: block;
  height: 0;
  width: 0;
  border-bottom: 8px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: rotate(-35deg);
}
.star:after {
  content: "";
  position: absolute;
  top: 1px;
  left: -11.5px;
  display: block;
  color: #fff;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
}

/*
=============== 
number
===============
*/
.num {
  --rotate: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.7rem;
  color: #333;
  transform: rotate(var(--rotate));
}
.num::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 10px;
  background: #333;
  border-radius: 10px;
}

.rotate1 {
  --rotate: 30deg;
}
.number1 {
  transform: rotate(-30deg);
}
.rotate2 {
  --rotate: 60deg;
}
.number2 {
  transform: rotate(-60deg);
}
.rotate3 {
  --rotate: 90deg;
}
.number3 {
  transform: rotate(-90deg);
}
.rotate4 {
  --rotate: 120deg;
}
.number4 {
  transform: rotate(-120deg);
}
.rotate5 {
  --rotate: 150deg;
}
.number5 {
  transform: rotate(-150deg);
}
.rotate6 {
  --rotate: 180deg;
}
.number6 {
  transform: rotate(-180deg);
}
.rotate7 {
  --rotate: 210deg;
}
.number7 {
  transform: rotate(-210deg);
}
.rotate8 {
  --rotate: 240deg;
}
.number8 {
  transform: rotate(-240deg);
}
.rotate9 {
  --rotate: 270deg;
}
.number9 {
  transform: rotate(-270deg);
}
.rotate10 {
  --rotate: 300deg;
}
.number10 {
  transform: rotate(-300deg);
}
.rotate11 {
  --rotate: 330deg;
}
.number11 {
  transform: rotate(-330deg);
}

/*
=============== 
hand
===============
*/
.hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hand div {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.second {
  width: 2px;
  height: 40%;
  background: orangered;
}
.minute {
  width: 5px;
  height: 32%;
  background: #333;
}
.hour {
  width: 8px;
  height: 24%;
  background: #333;
}

/*
=============== 
night-mode
===============
*/
body.night-mode {
  background: linear-gradient(145deg, #213b77, #000);
  background-size: 400% 400%;
  animation: gradientBg 30s ease infinite;
}

body.night-mode .sun {
  display: none;
}

body.night-mode .moon {
  display: block;
}

body.night-mode .clock {
  background: #002680;
  border-color: #fff;
}
body.night-mode .clock::after {
  background: #00aeff;
}

body.night-mode .num {
  color: #fff;
}
body.night-mode .num::after {
  background: #fff;
}

body.night-mode .minute {
  background: #00aeff;
}
body.night-mode .hour {
  background: #00aeff;
}

/*
=============== 
responsive
===============
*/
@media screen and (min-width: 992px) {
  .clock {
    width: 500px;
    height: 500px;
    border-width: 10px;
  }
  .num {
    font-size: 2rem;
    padding: 0.9rem;
  }
}
